# Utils
NEXT_PUBLIC_SITE_URL="http://localhost:3000"

# Supabase / DB
NEXT_PUBLIC_SUPABASE_URL="https://_.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
DATABASE_URL=""

# Payments
LEMON_SQUEEZY_API_KEY=""
LEMON_SQUEEZY_STORE_ID=""
LEMON_SQUEEZY_WEBHOOK_SECRET=""
LEMON_SQUEEZY_VARIANT_ID_MONTHLY=""
LEMON_SQUEEZY_VARIANT_ID_YEARLY=""

# AI
GOOGLE_GENERATIVE_AI_API_KEY=your_google_ai_api_key
