# Utils
NEXT_PUBLIC_SITE_URL="http://localhost:3000"

# Supabase / DB
NEXT_PUBLIC_SUPABASE_URL="https://_.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
DATABASE_URL=""

# Payments
LEMONSQUEEZY_API_KEY=""
LEMONSQUEEZY_STORE_ID=""
LEMONSQUEEZY_WEBHOOK_SECRET=""
LEMONSQUEEZY_PRODUCT_ID=""
LEMONSQUEEZY_VARIANT_ID_MONTHLY=""
LEMONSQUEEZY_VARIANT_ID_LIFETIME=""
